/.yarn/**
/**/node_modules
/public/**
webpack.*.js
babel.*.js
jsonmanifest-plugin.js
yarn.lock
/src/ApiClient/generatedcode/**.ts
/src/index.js
/src/index.html
/dist/**
/scripts/**
*.svg
*.json
*.png
*.scss
*.css
postcss.config.js
README.md
LICENSE
