.UserEditor {
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-rows: 10px auto 10px;
}

.UserEditor-loading {
    display: grid;
}

.UserEditor-content{
    grid-row: 2;
    grid-column: 2;
    border-radius: 25px;
    background-color: rgb(86, 86, 90);
    display: grid;
    grid-template-rows: 23% 77%;
}

.UserEditor-badge {
    grid-row: 1;
    display: grid;
}

.UserEditor-form {
    grid-row: 2;
    display: grid;
    grid-template-rows: 95% auto;
    grid-template-columns: 50% 50%;
    grid-column-gap: 5px;
}

.UserEditor-apply{
    grid-row: 2;
    grid-column: 1;
}

.UserEditor-cancel{
    grid-row: 2;
    grid-column: 2;
}

.UserEditor-edits {
    grid-column: span 2;
    display: grid;
    grid-template-rows: auto auto auto auto 10%;
    grid-template-columns: 50% 50%;
    grid-column-gap: 5px;
}

.UserEditor-enable {
    grid-row: 1;
    border-radius: 25px;
    background-color: green;
    color: white;
}

.UserEditor-disable {
    grid-row: 1;
    border-radius: 25px;
    background-color: red;
    color: white;
}

.UserEditor-sysid {
    grid-row: 2;
    grid-column: span 2;
}

.UserEditor-password-confirm {
    grid-row: 2;
    grid-column: 2;
}

.UserEditor-password {
    grid-row: 2;
    grid-column: 1;
}

.UserEditor-ar {
    grid-row: 3;
    grid-column: span 2;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 50% 50%;
}

.UserEditor-ar-title {
    grid-row: 1;
    grid-column: 1 span 2;
}

.UserEditor-ar-ChangeVersion {
    grid-row: 2;
    grid-column: 1;
    display: grid;
}

.UserEditor-ar-RestartHost {
    grid-row: 2;
    grid-column: 2;
    display: grid;
}

.UserEditor-ar-EditOwnPassword {
    grid-row: 3;
    grid-column: 1;
    display: grid;
}

.UserEditor-ar-ReadUsers {
    grid-row: 3;
    grid-column: 2;
    display: grid;
}

.UserEditor-ar-WriteUsers {
    grid-row: 4;
    grid-column: 1 span 2;
    display: grid;
}

.UserEditor-ir {
    grid-row: 4;
    grid-column: span 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 50% 50%;
}

.UserEditor-ir-title {
    grid-row: 1;
    grid-column: 1 span 2;
}

.UserEditor-ir-Read {
    grid-row: 2;
    grid-column: 1 span 2;
}

.UserEditor-ir-Create {
    grid-row: 3;
    grid-column: 1;
}

.UserEditor-ir-Online {
    grid-row: 3;
    grid-column: 2;
}

.UserEditor-ir-List {
    grid-row: 4;
    grid-column: 1;
}

.UserEditor-ir-Detach {
    grid-row: 4;
    grid-column: 2;
}

.UserEditor-ir-Rename {
    grid-row: 5;
    grid-column: 1;
}

.UserEditor-ir-AutoUpdate {
    grid-row: 5;
    grid-column: 2;
}

.UserEditor-ir-ConfigMode {
    grid-row: 6;
    grid-column: 1;
}

.UserEditor-ir-Relocate {
    grid-row: 6;
    grid-column: 2;
}
