.User-manager-loading {
    display: grid;
    margin: auto;
}

.User-manager-loading-others {
    grid-row: 2;
    grid-column: 2;
    display: grid;
}

.User-manager-error {
    display: grid;
    margin: auto;
    color: red;
    font-size: 200%;
}

.User-manager-users {
    display: grid;
    grid-template-rows: 25% auto;
    grid-template-columns: 10% auto 10%;
}

.User-manager-own {
    grid-column: 2;
    display: grid;
    margin: 10px;
    grid-template-columns: 75% 25%;
    grid-column-gap: 10px;
}

.User-manager-own-refresh {
    display: grid;
}

.User-manager-others {
    display: grid;
    grid-column: 2;
    grid-template-rows: 0 15% auto;
    border-top: 5px solid rgb(34, 17, 82);
    grid-row-gap: 10px;
}

.User-manager-editor-controls {
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    margin: 5px;
}

.User-manager-editor {
    grid-row: 3;
    display: grid;
}

.User-manager-editor div {
    display: grid;
    grid-row-gap: 10px;
    grid-template-rows: auto auto auto auto auto auto auto;
}
