.navbar {
    font-weight: 600;
}
$enable-shadows: true;
$enable-gradients: true;

.v-w-50 {
    width: 50vw !important;
    height: 50vw !important;
}

.v-h-50 {
    width: 50vh !important;
    height: 50vh !important;
}
