.Login {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 30% auto auto auto auto 30%;
    grid-gap: 5px;
}

.Login-title {
    color: white;
    text-align: center;
    grid-row: 2;
    grid-column: 2;
}

.Login-username {
    grid-row: 3;
    grid-column: 2;
}

.Login-password {
    grid-row: 4;
    grid-column: 2;
}

.Login-submit {
    grid-row: 5;
    grid-column: 2;
}
