.App {
  background: url(logo.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: #1e1e1e;
  background-position: center;
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  display: grid;
}

.App-error {
    color: red;
    font-size: 150%;
    margin: auto;
}

.App-main {
  display: grid;
}

.App-loading {
  margin: auto;
}
