<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=997, initial-scale=1" />
    <meta name="theme-color" content="#000000" />

    <title>Loading...</title>

    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>manifest.json" data-tpl-target="href"
        data-tpl="%publicpath%manifest.json" />
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.publicPath %>favicon.ico" data-tpl-target="href"
        data-tpl="%publicpath%favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%= htmlWebpackPlugin.files.publicPath %>apple-touch-icon.png"
        data-tpl-target="href" data-tpl="%publicpath%apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>favicon-32x32.png"
        data-tpl-target="href" data-tpl="%publicpath%favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>favicon-16x16.png"
        data-tpl-target="href" data-tpl="%publicpath%favicon-16x16.png" />
    <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>safari-pinned-tab.svg" color="#5bbad5"
        data-tpl-target="href" data-tpl="%publicpath%safari-pinned-tab.svg" />
    <meta name="msapplication-TileColor" content="#da532c" />
</head>

<body>
    <div id="root"></div>
    <script>
        try {
            window.publicPath = "<%= htmlWebpackPlugin.files.publicPath %>";
            function loadChannel(channel) {
                const handler = (e) => {
                    if (channel !== publicPath && confirm("The webpanel has failed to load from " + channel + ", this may be due to a misconfiguration. Press OK to load the webpanel from the fallback. Error: \n" + e)) {
                        loadChannel(publicPath);
                    } else {
                        alert("An error has occured within the webpanel bootstraper: \n" + e)
                    }
                }

                try {
                    if (channel === "webpack") {
                        channel = publicPath;
                        window.loadedChannelFromWebpack = true;
                    }

                    if (!channel.endsWith("/")) {
                        channel = channel + "/";
                    }

                    fetch(channel + "webpanelmanifest.json").then(e => {
                        e.json().then(data => {
                            console.log(data);

                            for (const entry of data.entries) {
                                const scripttag = document.createElement("script");
                                scripttag.src = channel + entry;
                                document.body.append(scripttag);
                            }
                        }).catch(handler)
                    }).catch(handler);
                } catch (e) {
                    handler(e)
                }
            }

            fetch("channel.json", {
                headers: {
                    "X-Webpanel-Fetch-Channel": "true"
                }
            }).then(e => {
                e.json().then(channel => {
                    if (channel.publicPath && channel.publicPath !== "") {
                        if (!channel.publicPath.endsWith("/")) {
                            channel.publicPath = channel.publicPath + "/";
                        }
                        window.publicPath = channel.publicPath
                    }

                    document.querySelectorAll(':not(html)').forEach(node => {
                        const { tpl, tplTarget } = node.dataset;

                        if (!tplTarget) return

                        node.setAttribute(tplTarget, tpl.replaceAll("%publicpath%", publicPath))
                    });

                    loadChannel(channel.channel)
                }).catch((e) => {
                    if (confirm("An error has occured within the webpanel bootstraper. Press OK to load the webpanel from the fallback. Error:\n" + e)) {
                        loadChannel("<%= htmlWebpackPlugin.files.publicPath %>");
                    } else {
                        alert("An error has occured within the webpanel bootstraper: \n" + e)
                    }
                })
            })
        } catch (e) {
            alert("An error has occured within the webpanel bootstraper: \n" + e)
        }
    </script>
</body>

</html>
