.ColouredField-red {
    background-color: yellow !important;
    color: red !important;
}

.ColouredField-red::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: red
}

.ColouredField-red::-moz-placeholder { /* Firefox 19+ */
    color: red
}

.ColouredField-red:-ms-input-placeholder { /* IE 10+ */
    color: red
}

.ColouredField-red:-moz-placeholder { /* Firefox 18- */
    color: red
}

.ColouredField-yellow {
    background-color: red !important;
    color: yellow !important;
}

.ColouredField-yellow::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: yellow
}

.ColouredField-yellow::-moz-placeholder { /* Firefox 19+ */
    color: yellow
}

.ColouredField-yellow:-ms-input-placeholder { /* IE 10+ */
    color: yellow
}

.ColouredField-yellow:-moz-placeholder { /* Firefox 18- */
    color: yellow
}
