.PasswordField-caps {
    background-color: red !important;
    color: yellow !important;
}

.PasswordField-caps::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: yellow
}

.PasswordField-caps::-moz-placeholder { /* Firefox 19+ */
    color: yellow
}

.PasswordField-caps:-ms-input-placeholder { /* IE 10+ */
    color: yellow
}

.PasswordField-caps:-moz-placeholder { /* Firefox 18- */
    color: yellow
}
